* {
    /* border: 2px #eed49f; */
    /* background-color: rgb(30, 30, 30); */
    /* border-size: 2px; */
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrains Mono Bold, sans-serif;
    font-size: 13px;
    min-height: 30px;
    background: rgb(0, 0, 0);
}

window#waybar {
    background: transparent;
    border: 2px #eed49f;
}

window#waybar.hidden {
    opacity: 0.2;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px;
    transition: none;
    color: #ffffff;
    /* background: #383c4a; */

    background: rgb(30, 30, 30);
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px;
    transition: none;
    color: #ffffff;
    /* background: #383c4a; */
    background: rgb(30, 30, 30);
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0 0px 0px 0;
    transition: none;
    color: #ffffff;
    /* background: #383c4a; */
    background: rgb(30, 30, 30);
}

#custom-mem * {
    margin-left: 2px;
    margin-right: 2px;
}

#cpu {
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px 0 0 0px;
    transition: none;
    color: #ffffff;
    /* background: #383c4a; */
    background: rgb(30, 30, 30);
    border-right: 1px solid rgb(64, 64, 64);
    
}

#backlight {
    margin-right: 0;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 0px 0 0 0px;
    transition: none;
    color: #ffffff;
    background: rgb(30, 30, 30);
    border-right: 1px solid rgb(64, 64, 64);
}

#battery {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 16px;
    border-radius: 0 0px 0px 0;
    transition: none;
    color: #ffffff;
    background: rgb(30, 30, 30);
}

#battery.charging {
    color: #26A65B;
    /* background-color: #FFFFFF; */
}

#battery.warning:not(.charging) {
    color: #ffbe61;
    /* background-color: black; */
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    /* background-color: #ffffff; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px;
    margin-right: 8px;
    transition: none;
    color: #ffffff;
    /* background: #383c4a; */
    background: rgb(30, 30, 30);
}

#custom-power {
    padding-left: 16px;
    padding-right: 17px;
    border-radius: 0px 0px 0px 0px;
    transition: none;
    color: #ffffff;
    /* background: #383c4a; */
    background: rgb(30, 30, 30);
}


#custom-restart {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 0px 0px 0px;
    font-weight: 900;
    font-size: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-logout {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 0px 0px 0px 0px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-restart:hover {
    background: red;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

