**/result
home/.config/*
!home/.config/alacritty
!home/.config/eww
!home/.config/fish
!home/.config/fuzzel
!home/.config/helix
!home/.config/hypr
!home/.config/mako
!home/.config/niri
!home/.config/nushell
!home/.config/nushell/history.txt
!home/.config/rofi
!home/.config/swayidle
!home/.config/swaylock
!home/.config/waybar
